/* Estilo personalizado del scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track (barra de desplazamiento) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle (control deslizante) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle en hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Ocultar scrollbar por defecto */
.scroll-container {
  scrollbar-width: none; /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
  overflow: -moz-scrollbars-none; /* Para Firefox */
}

/* Mostrar scrollbar solo cuando se hace hover en el contenedor */
.scroll-container:hover {
  scrollbar-width: auto; /* Para Firefox */
  -ms-overflow-style: scrollbar; /* Para Internet Explorer y Edge */
  overflow: auto; /* Para Firefox */
}