.class-4-tag {
  display: inline-block;
  padding: 4px 8px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #111;
}

.class-4-card {
  border-radius: 8px;
  border: 1px solid #fff;
}

.class-4-card h1 {
  border-bottom: 1px solid #fff;
  padding: 8px 16px;
  background-color: #222;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.class-4-card .class-4-card-body {
  padding: 8px 16px;
  background-color: #111;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}