#root {
  background-color: black;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

button {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background-color: #444;
}

/*button disabled*/
button[disabled] {
  background-color: #222;
  cursor: not-allowed;
  color: #666;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 16px;
  font-weight: bolder;
  border-bottom: 1px solid #333;
}

header img {
  width: 75px;
}

hr {
  width: 100%;
  border-color: #888;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, select {
  background-color: #222;
}

.flex {
  display: flex;
  gap: 20px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
}