:root {
  background-color: black;
  color: white;
  font-size: 30px;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
  border-bottom: 1px solid white;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
}

/* clases atomicas */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}